<mjml>
    <mj-head>
        <mj-preview>Dołącz do O bag społeczności i kupuj kultowe Torebki i inne produkty</mj-preview>
        <mj-title>O bag</mj-title>
        <mj-font name="century-gothic" href="https://use.typekit.net/saf7qsz.css" />
        <mj-attributes>
            <mj-all font-family="century-gothic, lato, arial"; align="center" />
        </mj-attributes>
        <mj-style inline="inline">
            .bg-white {
                background-color: #ffffff;
            }

            .bg-white-outlook {
            background-color: #ffffff;
            }
            .mj-column-per-50 {
                max-width: 300px;
            }
            .mj-column-per-33 {
                max-width: 200px;
            }
            .mj-column-per-66 {
                max-width: 400px;
            }
        </mj-style>
        <mj-style>
            .bg-white-outlook {
                background-color: #ffffff;
            }
        </mj-style>
    </mj-head>
    <mj-body background-color="#f7f7f7" >
        <mj-section full-width="full-width" padding="0px">
            <mj-column>
                <mj-text font-size="10px" color="#3d3a35">
                    Jeżeli poniższy newsletter nie wyświetla się poprawnie, użyj tego <a href="$preview$" style="text-decoration: underline; font-weight: bold; color: #3d3a35;">linku</a>
                </mj-text>
            </mj-column>
        </mj-section>
        <mj-section css-class="no-mobile" background-color="#3d3a35" padding="10px 0px">
            <mj-column width="33.33333333333333%" vertical-align="middle">
                <mj-image href="https://www.obagstore.pl/?utm_source=Email&utm_medium=newsletter&utm_campaign=22.07.2019_beach" src="img/O_bag.png" padding="10px 20px"></mj-image>
            </mj-column>
            <mj-column width="66.66666666666666%" vertical-align="middle">
                <mj-text font-size="14px" line-height="30px" font-weight="400" color="#ffffff" align="center" padding="0">
                    &nbsp;&nbsp;<a href="https://www.obagstore.pl/nowosc.html?utm_source=newsletter&utm_medium=Email&utm_campaign=14.07.2019_urlop" style="text-decoration: none; color: #ffffff; padding: 0px 0px">Nowość</a>&nbsp;&nbsp;
                    &nbsp;&nbsp;<a href="https://www.obagstore.pl/torebki.html?utm_source=newsletter&utm_medium=Email&utm_campaign=14.07.2019_urlop" style="text-decoration: none; color: #ffffff; padding: 0px 0px">Torebki</a>&nbsp;&nbsp;
                    &nbsp;&nbsp;<a href="https://www.obagstore.pl/plaza.html?utm_source=newsletter&utm_medium=Email&utm_campaign=14.07.2019_urlop" style="text-decoration: none; color: #ffffff; padding: 0px 0px">Plaża</a>&nbsp;&nbsp;
                    &nbsp;&nbsp;<a href="https://www.obagstore.pl/sale.html?utm_source=newsletter&utm_medium=Email&utm_campaign=14.07.2019_urlop" style="text-decoration: none; color: #ff3f3f; padding: 0px 0px">SALE</a>&nbsp;&nbsp;
                    &nbsp;&nbsp;<a href="https://www.obagstore.pl/outlet.html?utm_source=newsletter&utm_medium=Email&utm_campaign=14.07.2019_urlop" style="text-decoration: none; color: #ffffff; padding: 0px 0px">OUTLET</a>&nbsp;
                </mj-text>
            </mj-column>
        </mj-section>

        <mj-section css-class="bg-white" padding="0">
            <mj-column>
                <mj-image href="https://www.obagstore.pl/zestawy/o-bag-beach.html?dir=desc&order=most_viewed&utm_source=Email&utm_medium=newsletter&utm_campaign=22.07.2019_beach" padding="0px" src="img/kv.png"></mj-image>
            </mj-column>
        </mj-section>
    
        <mj-section css-class="bg-white" padding="0px">
            <mj-column vertical-align="bottom">
                <mj-image href="https://www.obagstore.pl/zestawy/o-bag-sand/zestaw-obag-sand-pink-13066.html?utm_source=Email&utm_medium=newsletter&utm_campaign=22.07.2019_beach" padding="0px 0px 10px" src="img/o_bag_prod_1.png"></mj-image>
                <mj-text font-size="14px" font-weight="bold" color="#6c6a67">
                    Zestaw Obag Sand | <br>
                    Pink
                </mj-text>
                <mj-button href="https://www.obagstore.pl/zestawy/o-bag-sand/zestaw-obag-sand-pink-13066.html?utm_source=Email&utm_medium=newsletter&utm_campaign=22.07.2019_beach" background-color="#3d3a35" inner-padding="10px 30px" border-radius="0px" font-size="15px" >
                    ZOBACZ
                </mj-button>
            </mj-column>
            <mj-column vertical-align="bottom">
                <mj-image href="https://www.obagstore.pl/zestawy/o-bag-beach/zestaw-obag-beach-mini-humus.html?utm_source=Email&utm_medium=newsletter&utm_campaign=22.07.2019_beach" padding="0px 0px 10px" src="img/o_bag_prod_2.png"></mj-image>
                <mj-text font-size="14px" font-weight="bold" color="#6c6a67">
                    Zestaw | Obag Beach mini <br>
                    Humus
                </mj-text>
                <mj-button href="https://www.obagstore.pl/zestawy/o-bag-beach/zestaw-obag-beach-mini-humus.html?utm_source=Email&utm_medium=newsletter&utm_campaign=22.07.2019_beach" background-color="#3d3a35" inner-padding="10px 30px" border-radius="0px" font-size="15px" >
                    ZOBACZ
                </mj-button>
            </mj-column>
        </mj-section>
    
        <mj-section css-class="bg-white" padding="0px">
            <mj-column vertical-align="bottom">
                <mj-image href="https://www.obagstore.pl/zestawy/o-bag-glam/zestaw-obag-glam-verde-inglese-11803.html?utm_source=Email&utm_medium=newsletter&utm_campaign=22.07.2019_beach" padding="0px 0px 10px" src="img/o_bag_prod_3.png"></mj-image>
                <mj-text font-size="14px" font-weight="bold" color="#6c6a67">
                    Zestaw | Obag Glam | <br>
                    Verde inglese
                </mj-text>
                <mj-button href="https://www.obagstore.pl/zestawy/o-bag-glam/zestaw-obag-glam-verde-inglese-11803.html?utm_source=Email&utm_medium=newsletter&utm_campaign=22.07.2019_beach" background-color="#3d3a35" inner-padding="10px 30px" border-radius="0px" font-size="15px" >
                    ZOBACZ
                </mj-button>
            </mj-column>
            <mj-column vertical-align="bottom">
                <mj-image href="https://www.obagstore.pl/zestawy/o-bag-standard/zestaw-obag-body-latte.html?utm_source=Email&utm_medium=newsletter&utm_campaign=22.07.2019_beach" padding="0px 0px 10px" src="img/o_bag_prod_4.png"></mj-image>
                <mj-text font-size="14px" font-weight="bold" color="#6c6a67">
                    Zestaw | Obag Body <br>
                    Latte
                </mj-text>
                <mj-button href="https://www.obagstore.pl/zestawy/o-bag-standard/zestaw-obag-body-latte.html?utm_source=Email&utm_medium=newsletter&utm_campaign=22.07.2019_beach" background-color="#3d3a35" inner-padding="10px 30px" border-radius="0px" font-size="15px" >
                    ZOBACZ
                </mj-button>
            </mj-column>
        </mj-section>
    
        <mj-section css-class="bg-white" padding="30px 0 10px">
            <mj-column>
<!--                <mj-button href="https://www.obagstore.pl/nowosc/beach-torebki.html?utm_source=newsletter&utm_medium=Email&utm_campaign=14.07.2019_urlop" background-color="#ffffff" font-size="18px" font-weight="700" color="#3d3a35" border="1px solid #3d3a35" inner-padding="10px 30px" border-radius="0px" font-size="15px" padding="0 0 20px">-->
<!--                    SPRAWDŹ NASZE INNE PROPOZYCJE-->
<!--                </mj-button>-->
            </mj-column>
        </mj-section>
    
        <mj-section css-class="bg-white" padding="0px 40px">
            <mj-column border-top="1px solid #3d3a35" border-bottom="1px solid #3d3a35" padding="0">
                <mj-social font-size="14px" icon-size="40px" mode="horizontal">
                    <mj-social-element src="img/find.png" icon-size="40px" href="https://www.obagstore.pl/salons?fbclid=IwAR1LsJ7F4S3WLjfVeAVo27dNP_ociST0Qs4YwBY7DWVYo0ND4nuJhI8HnjI&utm_source=newsletter&utm_medium=Email&utm_campaign=14.07.2019_urlop">
                        &nbsp;&nbsp;&nbsp;&nbsp;Znajdź sklep stacjonarny
                    </mj-social-element>
                </mj-social>
            </mj-column>
        </mj-section>
    
        <mj-section css-class="bg-white" padding="30px 0">
            <mj-column vertical-align="middle">
                <mj-text font-size="16px" line-height="30px" color="#3d3a35" align="center" padding="0px">
                    &nbsp;<a href="https://www.obagstore.pl/wysylka-i-platnosci?utm_source=newsletter&utm_medium=Email&utm_campaign=14.07.2019_urlop" style="text-decoration: none; color: #3d3a35; padding: 0px 5px">Dostawa</a>&nbsp;
                    &nbsp;<a href="https://www.obagstore.pl/wysylka-i-platnosci?utm_source=newsletter&utm_medium=Email&utm_campaign=14.07.2019_urlop" style="text-decoration: none; color: #3d3a35; padding: 0px 5px">Płatność</a>&nbsp;
                    &nbsp;<a href="https://www.obagstore.pl/zwroty-i-reklamacje?utm_source=newsletter&utm_medium=Email&utm_campaign=14.07.2019_urlop" style="text-decoration: none; color: #3d3a35; padding: 0px 5px">Zwroty</a>&nbsp;
                </mj-text>
            
                <mj-social font-size="15px" icon-size="40px" icon-height="40px" mode="horizontal" padding-top="20px">
                    <mj-social-element src="img/fb.png" padding="0 10px"  href="https://www.facebook.com/ObagPolska/?utm_source=newsletter&utm_medium=Email&utm_campaign=14.07.2019_urlop">
                    </mj-social-element>
                    <mj-social-element src="img/in.png" padding="0 10px"  href="https://www.instagram.com/obagpolska/?utm_source=newsletter&utm_medium=Email&utm_campaign=14.07.2019_urlop">
                    </mj-social-element>
                    <!--                    <mj-social-element src="img/pt.jpg"  href="https://pl.pinterest.com/ObagPolska/?utm_source=newsletter&utm_medium=Email&utm_campaign=14.07.2019_urlop">-->
                    <!--                    </mj-social-element>-->
                    <mj-social-element src="img/yt.png" padding="0 10px"  href="https://www.youtube.com/channel/UCE6NnVy_BLz5XgBSoyNrYzg?utm_source=newsletter&utm_medium=Email&utm_campaign=14.07.2019_urlop">
                    </mj-social-element>
                </mj-social>
            </mj-column>
        </mj-section>

        <mj-section css-class="bg-white" padding="0px 0px">
            <mj-column>
                <mj-text font-size="10px" line-height="15px" color="#3d3a35">
                    Dostajesz tę wiadomość, ponieważ Zapisałaś/Zapisałeś się na&nbsp;newsletter F.U.H. Barbara Pękacka z&nbsp;siedzibą w&nbsp;Warce, ul.&nbsp;Zawadzkiego 19, 05-660 Warka. NIP: 797-127-17-80, REGON: 140207074.
                    <br><br> Jeśli nie&nbsp;chcesz od&nbsp;nas otrzymywać tego typu korespondencji kliknij <a href="$opt-out$" style="text-decoration: underline; font-weight: bold; color: #3d3a35;">tutaj</a>
                </mj-text>
                <mj-spacer></mj-spacer>
            </mj-column>
        </mj-section>
        <mj-section padding="0px">
            <mj-column>
                <mj-spacer></mj-spacer>
            </mj-column>
        </mj-section>
    </mj-body>
</mjml>
